.user-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: center;
}

.loading {
    font-size: 1.5rem;
    color: #333;
}

.error {
    text-align: center;
    font-size: 1.2rem;
    color: red;
    margin-top: 20px;
}

.user-details {
    text-align: left;
}

.user-details h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.user-details p {
    margin-bottom: 10px;
    font-size: 1rem;
}