@{
    ViewData["Title"] = "Asignación de Solicitudes";
}

@section Styles{
    <link rel="stylesheet" type="text/css" href="~/css/Reasignacion.css">
}


<div class="container m-0 p-0">
    <div class="row">
        <div class="col-sm-2">
            <div id="divAnalistasAsignado" class="fondoIMG">
                <h4 id="H1" style="display: inline-block; ">Carga origen: </h4>


                <table class="table table-hover tblAsignaciones" style="margin-bottom: 0px;">
                    <tbody id="tblUsuarios">
                    </tbody>
                </table>
            </div>

        </div>
        <div class="col-sm-8">
            <div id="divSolicitudesAsignacion" style="display: none;">
                <div style="height: 100%; ">
                    <div class="box-shadow">

                        <div class="row">
                            <div class="col-sm-11">

                                <div class="ant-col ant-col-xs-24 ant-col-lg-14 ant-col-xl-12">
                                    <div style="padding: 20px 30px;">
                                        <h5 align="center" id="HId3"></h5>
                                        <div class="ant-row ant-form-item">
                                            <table>
                                                <tbody id="tblAsignar">
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-1" ;>
                                <br />
                                <br />
                                
                                <div style="padding: 1px 1px;">

                                    <div >
                                        <div style="height: 50%;">
                                            <div class="ayuda-validador__div-file"><i aria-label="icon: file-done" class="anticon anticon-file-done" style="font-size: 100px; color: rgb(238, 238, 238);"><svg viewBox="64 64 896 896" focusable="false" class="" data-icon="file-done" width="1em" height="1em" fill="currentColor" aria-hidden="true"><path d="M688 312v-48c0-4.4-3.6-8-8-8H296c-4.4 0-8 3.6-8 8v48c0 4.4 3.6 8 8 8h384c4.4 0 8-3.6 8-8zm-392 88c-4.4 0-8 3.6-8 8v48c0 4.4 3.6 8 8 8h184c4.4 0 8-3.6 8-8v-48c0-4.4-3.6-8-8-8H296zm376 116c-119.3 0-216 96.7-216 216s96.7 216 216 216 216-96.7 216-216-96.7-216-216-216zm107.5 323.5C750.8 868.2 712.6 884 672 884s-78.8-15.8-107.5-44.5C535.8 810.8 520 772.6 520 732s15.8-78.8 44.5-107.5C593.2 595.8 631.4 580 672 580s78.8 15.8 107.5 44.5C808.2 653.2 824 691.4 824 732s-15.8 78.8-44.5 107.5zM761 656h-44.3c-2.6 0-5 1.2-6.5 3.3l-63.5 87.8-23.1-31.9a7.92 7.92 0 0 0-6.5-3.3H573c-6.5 0-10.3 7.4-6.5 12.7l73.8 102.1c3.2 4.4 9.7 4.4 12.9 0l114.2-158c3.9-5.3.1-12.7-6.4-12.7zM440 852H208V148h560v344c0 4.4 3.6 8 8 8h56c4.4 0 8-3.6 8-8V108c0-17.7-14.3-32-32-32H168c-17.7 0-32 14.3-32 32v784c0 17.7 14.3 32 32 32h272c4.4 0 8-3.6 8-8v-56c0-4.4-3.6-8-8-8z"></path></svg></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-2">
            <div id="divAnalistasAAsignar" style="display: none;">
                <h4 id="H2" style="display: inline-block; ">Carga destino: </h4>
                <table class="table table-hover tblAsignaciones" style="margin-bottom: 0px;">
                    <tbody id="tblUsuariosDos">
                    </tbody>
                </table>
            </div>

        </div>

    </div>

</div>




@section Scripts{
    <script>

        Index = function () {

            $(document).ready(function () {

                $('#divIndicadoresEconomicos').css('display', 'none');
                $('#divIndicadoresEconomicos').hide();
            });


            return {
             urlGetUsuariosCompra: "@Url.Action(nameof(Web.ReqCompra.Controllers.UsuarioController.GetUsuarioCompra), "Usuario")",
             urlGetSolicitudesCompra: "@Url.Action(nameof(Web.ReqCompra.Controllers.AsignacionController.GetSolicitudesCompra), "Asignacion")",
             urlPostAsignarSolicitudesCompra: "@Url.Action(nameof(Web.ReqCompra.Controllers.AsignacionController.PostAsignarSolicitudesCompra), "Asignacion")",
            }

        }();

    </script>

    <script src="~/js/BackOffice/_Asignacion.js" asp-append-version="true"></script>
}

